<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form Mahasiswa</title>
  </head>

  <body>
    <h1>Form Mahasiswa</h1>
    <form action="/mahasiswa/tambah" method="post">
      <label for="nama">Nama:</label>
      <input type="text" id="nama" name="nama" required />
      <br />
      <label for="jurusan">Jurusan:</label>
      <input type="text" id="jurusan" name="jurusan" required />
      <br />
      <label for="angkatan">Angkatan:</label>
      <input type="text" id="angkatan" name="angkatan" required />
      <br />
      <button type="submit">Tambah Mahasiswa</button>
    </form>
  </body>
</html>
